/*
Copyright 2011 Saiyasodharan (http://saiy2k.blogspot.com/)

This file is part of SpiroCanvas (http://code.google.com/p/spirocanvas/)

SpiroCanvas is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SpiroCanvas is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with SpiroCanvas.  If not, see <http://www.gnu.org/licenses/>.
*/

body
{
	background-color: 		#000000;
	font-family:			georgia;
	font-size:				12px;
	color:					#566669;
	background-image:		url('images/spiroBG.jpg');
}
a
{
	color:					#ff0000;
}

#canvasContainer
{
	width:					800px;
	height:					600px;
	margin:					auto;
	border:					2px solid #111;
}

#layersPanelSelectable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#layersPanelSelectable li { margin: 0 1px 1px 1px; padding: 0.4em; padding-left: 0.5em; height: 18px; }
#layersPanelSelectable li span { position: absolute; margin-left: -1.3em; }
#layersPanelSelectable .ui-selecting { background: #FECA40; }
#layersPanelSelectable .ui-selected { background: #F39814; color: white; }

.toolBox
{
	float:					left;
	width:					150px;
	background-color:		#090909;
	border:					1px solid #333;
	padding:				4px;
}
.toolBoxRight
{
	float:					right;
	width:					150px;
	background-color:		#090909;
	border:					1px solid #333;
	padding:				4px;
}

.toolBoxHorizontalPanel
{
	height: 				40px;
	margin:					2px;
	padding:				2px;
}

.toolPanel
{
	position:				absolute;
}
.toolPanelRight
{
	position:				absolute;
}

.toolBoxHeader
{
	margin-left:			-1px;
	float:					left;
	border:					2px solid #333;
	//border-left: 			none;
	width: 					1em;				
	background-color:		#090909;
	padding: 				1px;
	font:					12px arial;
}

.toolBoxHeaderRight
{
	margin-right:			-1px;
	float:					left;
	border:					2px solid #333;
	//border-left: 			none;
	width: 					1em;				
	background-color:		#090909;
	padding: 				1px;
	font:					12px arial;
}

#statusDiv
{
	position:				absolute;
	bottom:					0px;
	left:					0px;
	right:					0px;
	height:					32px;
	text-align:				center;
	display:				inline;
}
#statusRightPanel
{
	margin:					auto;
	padding:				2px 8px 2px 8px;
}
#statusLeftPanel
{
	float:					left;
	margin:					4px;
	padding:				2px;
}

.statusButton
{
	width:					60px;
	height:					24px;
	text-align:				center;
	text-decoration:		none;
	background:				#111;
	border:					1px solid #440000;
	font:					12px arial;
	color:					#888888;
	padding-top:			4px;
}

.statusButton:hover
{
	background:				#000;
	border:					1px solid #880000;
	color:					#cccccc;
}

.controlButton
{
	width:					60px;
	height:					30px;
	text-decoration:		none;
	font:					12px arial;
	padding-left:			6px;
	color:					#888888;
}